body{
    background: #F6F6F6;
}
.instagram{
    position: absolute;
    left: 300px;
    right: 73.47%;
    top: 240px;
    bottom: 65.22%;

    width: 50px;
}
.vk{
    position: absolute;
    left: 800px;
    right: 73.47%;
    top: 240px;
    bottom: 65.22%;

    width: 400px;
    background-color: #F6F6F6;
}
.text{
    position: absolute;
    left: 420px;
    right: 45.03%;
    top: 50px;
    bottom: 9.76%;
    width: 500px;

    font-family: 'Gilroy-Bold';
    font-size: 20px;
    line-height: 42px;
    text-align: center;

    color: #070707;
    text-align: center;
}
.number{
    position: absolute;
    left: 505px;
    right: 73.47%;
    top: 130px;
    bottom: 65.22%;

    width: 350px;
}
.main{
    text-decoration: none;
    display: inline-block;
    color:  black;
    width: 200px;
    height: 40px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s; 
    font-size: 10px;
}
.main:hover{
    background-position: right center;
}
a{
    text-decoration: none;
    color: black;
}